*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.todolist {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 200px;
    width: 500px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    padding: 20px;
}

.input {
    outline: none;
    text-align: center;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) inset 0 0 10px;
    width: 350px;
    height: 30px;
    margin: 20px;
    color: #000;
    font-weight: bold;
}

.input::placeholder {
    color: #ccc;
    font-size: 15px;
    font-weight: 300;
}

.btn-add {
    outline: none;
    border: none;
    background-color: white;
    margin-top: -10px;
}
.btn-add i {
    border: none;
    border-radius: 50%;
    font-size: 35px;
    cursor: pointer;
    color: rgb(124, 124, 124);
}
.todolist .task-list  {
    width: 400px;
    margin: 10px;
}
.todolist .task-list .task-list-item {
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.todolist .task-list .task-list-item .task-list-item-name {
    color: #4764FF;
    font-weight: 700;
}
.todolist .task-list .task-list-item i {
    color: #55c9ff;
    cursor:pointer;
}
.horizontal-line {
    margin: 20px auto;
    width: 100%;
    height: 1px;
    background: #333;
}
.todolist .task-list .task-list-item .task-list-item-control {
    display: flex;
    flex-direction: row;
}
.todolist .task-list .task-list-item .check-as-done {
    margin-right: 10px;
}

.red-alert {
    display:none;
    color: red;
}









/* 
   #############
   ## PARKING ##
   #############
*/